# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
*.env
.env

# Django stuff:
db.sqlite3
*.log
media/

# Ignore all local configurations
*.local

# System files (MacOS)
.DS_Store

# IDE / Editor specific files
.vscode/
.idea/

# Node modules (if using frontend frameworks like React or Vue)
node_modules/

# Static files (optional)
staticfiles/